@font-face {
    font-family: "Mantuan";
    src: url(fonts/mantuan.ttf)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambo', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    letter-spacing: 20px;
    margin-top: 50px;
    font-size: 30px;
}

.numbers {
    font-size: 5em;
    text-align: center;
    margin-top: 15px;
    text-shadow: #B8860B 7px 7px;
    text-align: center;
}

.commands {
    text-align: center;
    margin-top: 30px;
}

input {
    width: 55px;
    height: 55px;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: #c59212;
    border: none;
    box-shadow: #a27608 5px 5px;
    color: rgb(0, 0, 0);
    font-family: "Mantuan";
    margin: 5px;
}

input:hover {
    box-shadow: rgb(165, 130, 20) 5px 5px, rgb(240, 215, 120) 0 0 60px;

}

input:active {
    background-color: rgb(190, 145, 20);
    box-shadow: rgb(165, 130, 20) 1px 1px;
}

@media screen and (max-width:650px) {

    h1 {
        text-align: center;
        letter-spacing: 20px;
        margin-top: 200px;
        font-size: 20px;
        margin-left: 15px;
    }

    .numbers {
        font-size: 2.5em;
        text-align: center;
        margin-top: 15px;
        text-shadow: #B8860B 7px 7px;
        text-align: center;
    }

    input {
        width: 55px;
        height: 55px;
        font-size: 1.5em;
        border-radius: 50%;
        background-color: #c59212;
        border: none;
        box-shadow: #a27608 5px 5px;
        color: rgb(0, 0, 0);
        font-family: "Mantuan";
        margin: 5px;
    }
    
    * {
        background-size: 100%;
    }

}